body{
    width: 100% !important;
    height: 100vh !important;
}
form{
border: none !important;
    width: 90% !important;
    min-height: 60vh !important;
    border: 1px solid !important;
    
}

      
form button[type="submit"]{

    width: 100%;
    background-color: #324dc7;
    border: 1px solid #324dc7;
    box-sizing: border-box;
    border-radius: 999px;
    padding: 11px 23px;
    transition: all .25s ease-in-out;
    color: #fff;
}   