{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.png'%}" type="image/icon type">
    <title>InvoiControl</title>  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/general/authorization.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/authorization_mobile.css'%}" media="screen and (max-width: 700px)">
    
    
    
</head>
<body>
    <form action="" method="post" class="registration_form" >
    
    <p>Регистрация</p>
    {% csrf_token%}
   
    {% if error_messages %}
    <ul class="messages">
      {% for msg in  error_messages.values %}
        <li class="alert-error">
      
          <span class="message-content">{{ msg}}</span>
          
          
          
        </li>
        
      {% endfor %}
     
    </ul>
  {% endif %}

    {{form}}
    <p><a href="{%url 'users:login'%}">Уже есть аккаунт?</a></p>
    
    <p>
    <button type="submit">Отправить</button>
    </p></form>
    
    <script>
        var typeObject = {
            'bi bi-eye-slash':'text',
            'bi bi-eye':'password'
        }
        document.querySelectorAll('i').forEach((each,index) => {
            each.addEventListener('click', () => {
                
                each.classList.toggle('bi-eye-slash')
                each.classList.toggle('bi-eye')
             document.querySelectorAll('.password_line input')[index].type=typeObject[each.classList]
            })
        })
    </script>
</body>
</html>